<!DOCTYPE html>
<html>
  <head>
    <title>Digbpm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="headline">
        <a>Digbpm</a>
      </h1>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a>Home</a>
        </li>
        <li class="nav-list-item">About</li>
        <li class="nav-list-item">Topic</li>
      </ul>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
